.navigation {
    padding: 30px 20px 20px;
    max-width: 1592px;
    margin: 0 auto;
    display: flex;
    align-items: center ;
    background-color: #C03540;
}


.menu{
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 0 18px;
    list-style: none;
    &-item {
        background-color: #FFFFFF4D;
        padding: 10px;
        border-radius: 5px;
    }
    &-link {
        color: inherit;
        position: relative;
        transition: all 0.2s linear;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            background-color: $primay-color;
            width: 0;
            translate: all 0.2s linear;
        }
        &:hover {
            color: $primay-color;
        }
        &:hover::before {
            width: 100%;
        }
    }
}

.header {
    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        max-width: 1160px;
        margin: 0 auto;
    }
}