header.header 
    .navigation 
        ul.menu
            li.menu-item
                a.menu-link(href="#!") Atsuaki
            li.menu-item
                a.menu-link(href="#!") Gallery
            li.menu-item
                a.menu-link(href="#!") Rarity
            li.menu-item
                a.menu-link(href="#!") Utility
            li.menu-item
                a.menu-link(href="#!") Team
            li.menu-item
                a.menu-link(href="#!") Roadmap
            li.menu-item
                a.menu-link(href="#!") FAQs
            li.menu-item
                a.menu-link(href="#!")
                    img(srcset="./images/eth.png 2x", alt="")
            li.menu-item
                a.menu-link(href="#!")
                    img(srcset="./images/opensea.png 2x", alt="")
            li.menu-item
                a.menu-link(href="#!")
                    img(srcset="./images/twitter.png 2x", alt="")
            
    





                        