.main-content
    h1.title What is <br> 
    h1 Atsuaki?
    
    p.content Atsuaki is a special limited collection of only 999 NFTs, dedicated to those who truly love NFT and its future. Atsuaki is a collection of ideas and hand-drawn details. Inspired by Japanese manga style, Atsuaki will be the door that leads you into a sci-fi world and makes your dreams come true.